<div class="w-full px-6 gap-2 py-2 text-sm text-black">
    <div class="w-full flex justify-end mb-2">
        <a [routerLink]="['/employee/applyLeave']">
            <button class="bg-blue-500 text-white py-2 px-4 rounded-md">
                Apply Leave
            </button>
        </a>
    </div>
    <div class="w-full bg-white py-4 px-4 my-2 rounded-md">
        <table class="table-fixed w-full">
            <thead>
                <tr class="font-bold">
                    <th class=""></th>
                    <th class="">Available</th>
                    <th class="">Booked</th>
                </tr>
            </thead>
            <tbody class="gap-4">
                <tr class="border-b">
                    <td
                        class="flex justify-start items-center font-bold text-sm py-2">
                        <i
                            class="fas fa-calendar-check mr-6 text-4xl text-green-600"></i
                        >Earned Leave
                    </td>
                    <td class="text-center">
                        {{ leaveDetails.earnedLeaves.available }}
                    </td>
                    <td class="text-center">
                        {{ leaveDetails.earnedLeaves.booked }}
                    </td>
                </tr>
                <tr class="border-b">
                    <td
                        class="flex justify-start items-center font-bold text-sm py-2">
                        <i
                            class="fas fa-calendar-times mr-6 text-4xl text-red-600"></i
                        >Leave Without Pay
                    </td>
                    <td class="text-center">
                        {{ leaveDetails.leaveWithoutPay.available }}
                    </td>
                    <td class="text-center">
                        {{ leaveDetails.leaveWithoutPay.booked }}
                    </td>
                </tr>
                <tr>
                    <td
                        class="flex justify-start items-center font-bold text-sm pt-2">
                        <i
                            class="fas fa-calendar-plus mr-6 text-4xl text-cyan-600"></i
                        >Restricted Holiday
                    </td>
                    <td class="text-center">
                        {{ leaveDetails.restrictedHoliday.available }}
                    </td>
                    <td class="text-center">
                        {{ leaveDetails.restrictedHoliday.booked }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-full bg-white py-4 px-4 my-2 rounded-md">
        <h2 class="font-bold">All Leaves and Holidays</h2>
        <hr class="h-px my-2 border-1 dark:bg-gray-700" />
        <table class="table-fixed w-full">
            <thead>
                <tr class="font-bold">
                    <th class=""></th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody class="gap-4">
                <tr class="border-b" *ngFor="let holiday of holidayList">
                    <td class="flex justify-start items-center text-sm py-2">
                        <i
                            class="fas fa-calendar mr-6 text-lg text-cyan-500"></i
                        >{{ holiday.date }}
                    </td>
                    <td class="text-center">
                        {{ holiday.holidayName }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
